<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"></html>
<head>
<title><center>Aoubt Us</center></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/about.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="about-section">
		<p>WELCOME TO ORGANIC STORE</p>
		<h1>About Organic Store</h1>
		<p>What started small, with a single discount store and the simple
			idea of selling more for less.</p>
		<p>We have Organic fruits and vegetables are grown without using
			most conventional pesticides,</p>
		<p>fertilizers made with synthetic ingredients or sewage sludge;
			bioengineer seed or plants; or ionizing radiation.</p>
	</div>
</body>
</html>
