<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title><center>Contact Form</center></title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/contact.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<html>
<body>

<h2 style="text-align:center">UpComing Products</h2>

<div class="card">
  <img src="/images/apple.jpg" alt="Apple" style="width:5%">
  <p>Apples<p>
  <img src="/images/orange.jpg" alt="Orange" style="width:5%">
  <p>Orange<p>
  <img src="/images/green bell pepper.jpg" alt="Green Bell Pepper" style="width:5%">
  <p>Green Bell Pepper<p>
</div>

</body>
</html>
